# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Tooling / IDE
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
